body
{
width: 100%;
min-height: 400px;
max-height:2000px;

}

em {
	 color: #FBC213;
 }
	.text-block {
    position: absolute;
    top: 180px;
    left: 80px;
    padding-left: 20px;
    padding-right: 20px;
	font-size: 2em;
color: black;
 text-shadow: 1px 1px;
}
.nav-link
{
	 overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.home-container {
    position: relative;
    font-family: Amatic SC;
	min-height: 750px;
}
.service-container
{
	min-height: 1200px;
}
.service-card .card{
	
    height: 550px;
	padding: 5px;
	
}
.service-card .card-img-top {
    height: 220px;
}
.center-pills
{
	 display: flex;
    justify-content: center;
}
.work-container
{
	min-height: 700px;
	background-color: #303030;
	color: white;
	margin-bottom: 20px;
	
}
.vision-container
{
	background-image: url("visioneye.jpg");
	background-repeat: no-repeat;
	background-size: 100%, 900px;
	height: 700px;
	margin-bottom: 20px;
}
.vision-container .vision-button
{
	margin: 330px 60px 150px 250px;
}
.vision-container .vision-col
{
	 overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.team-container
{
	min-height: 1200px;
}
.about-container
{
	min-height: 700px;
	background-color: #303030;
	color: white;
	margin-bottom: 20px;
	
}
.contact-container
{
	margin-left:30px;
}
.mail-container a:link
{
	text-decoration:none;
	color:white;
}
.mail-container a:hover
{
	text-decoration:none;
	color:#FBC213;
}
.social-container .fa:hover {
    opacity: 0.7;
	 color: #FBC213;
	 border-color: #FBC213;
	 text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
	 color: #FBC213;
}



.fa-facebook {
  
  color: white;
   padding: 20px;
  font-size: 30px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border-style: solid;
    border-width: 1px;
	border-color:white;
 
}

.fa-twitter {
 
  color: white;
   padding: 20px;
  font-size: 30px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border-style: solid;
    border-width: 1px;
	border-color:white;
}
.fa-linkedin {
 
  color: white;
   padding: 20px;
  font-size: 30px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border-style: solid;
    border-width: 1px;
	border-color:white;
}
.social-button
{
	margin: 0px auto;
}

.modal-title1
{
	color: black;
}	
	
.copyright
{
	text-align: center;
	margin-top: 50px;
}	



.container7
{
	min-height: 1200px;
}
.back-to-top
{
   text-align: center;
   background-color: rgba(0,0,0,0.4);
    color: white;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 22px;
    position: fixed;
    right: 20px;
    bottom: 20px;
  
}

.fa-chevron-up
{
	color: white;
  
}
.text-block1
{
	padding-top: 100px;
	font-size: 1.5em;
}
.highlight
{
	margin-top: 25px;
    margin-bottom: 0;
	color: #FBC213;
	
}
.action-container
{
padding-top: 50px;

}
.btn
{
	background-color: white;
	color: black;
}
.btn:hover{
	background-color: #FBC213;
	color: black;
}
.container2 .nav-link{
	background-color:black;
	color:white;
	margin:10px;
}
div.card{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: #FBC213;
}
.nav-pills .nav-item {
margin-right:10px;
}
.nav-pills .nav-link {   
    background-color: black;
    color: white;
}
@media only screen and (max-width:768px) {
	.text-block {
    position: absolute;
    top: 160px;
    left: 120px;
     padding-left: 0px; 
    padding-right: 0px; 
    font-size: 1.8em;
    color: black;
    width: 100%;
    text-shadow: 1px 1px;
	
}
.text-block1 {
    padding-top: 100px;
    font-size: 1.5em;
    padding-left: 130px;
}
.tab-content{
	overflow-y:auto;
}
div.card{
	margin: 20px auto;
}
.vision-container .vision-button {
     margin:130px 60px 150px 50px;
}
}
@media only screen and (min-width: 770px) and (max-width:1024px) {
.vision-container .vision-button {
    margin: 230px 60px 150px 150px;
}
.text-block {
    position: absolute;
    top: 170px;
    left: 120px;
    padding-left: 0px; 
    padding-right: 0px; 
    font-size: 1.6em;
    color: black;
    text-shadow: 1px 1px;
}
.text-block1 {
    padding-top: 100px;
    font-size: 1.5em;
    padding-left: 60px;
}
}
.modal-body
{
word-break: keep-all;
    white-space: normal;
}
.modal-header
{
word-break: keep-all;
    white-space: normal;
}